name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Protoc
        uses: arduino/setup-protoc@v2

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.5

      - name: Execute Gradle spotlessCheck
        run: ./gradlew spotlessCheck

      - name: Execute Gradle build
        run: ./gradlew build
